body {
    background: #50A162;
    background: linear-gradient(149deg, #50A162 35%, #80C18E 100%);
    background-repeat: no-repeat;
    margin:0;
    min-height:100vh;
}

p, h1, h2, h3, h4, h5, h6, li, button {
    color: #801F15;
}

.todo_list{
    margin-top:40px;
}

main {
    width:400px;
    margin:100px auto 0;
    background: #FFF2AA;
    padding: 30px;
    border-radius: 5px;
}

.delete_btn {
    display: inline-block;
    width:15px;
    height:15px;
    margin-left:7px;
    text-decoration: none;
    background: #554800;
    color: #fff;
    text-align:center;
    line-height:15px;
    border-radius:30%;
}

// tagname{

// }
// .class_name{}
// #by_id{

// }

// [atrribute_name] {}
// [atrribute_name="searched_value"] {

// }


// [class^="icon-"], [class*=" icon-"] {

// }

